<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewBag.PassCodeNum != null)
    {
        <h3 id="PCNUM">Random passcode (passcode #@ViewBag.PassCodeNum)</h3>
    }
    else
    {
        <h3 id="PCNUM">Press Generate to Begin</h3>
    }
    <h3 id="PCCODE">@ViewBag.PassCode</h3>
    <button class="btn btn-danger" onclick="getPasscode()">Generate</button>
    <a class="btn btn-danger" href="/reset">Reset</a>
</div>
